@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Кристин Богданова</title>
    <meta charset="utf-8" />
</head>
<body>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        img {
            max-width: 100%;
            height: auto;
            width: auto\9; /* ie8 */
        }
    </style>

    @*<img src="~/Invitation.jpeg" />*@
    <img src="~/onlyImage.jpeg" />

    <h1 style="color:deeppink; text-align:center">
        Happy Valentine's Day Christine!
        <br />
        I wish you a great day and
        I'm still waiting to accept my dinner
        invitation :)
        <br />
        <br />
        Yordan
    </h1>

</body>
</html>

