@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Кристин Богданова</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="~/favicon.png">
</head>
<body>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        img {
            max-width: 100%;
            height: auto;
            width: auto\9; /* ie8 */
        }
    </style>

    @*<img src="~/Invitation.jpeg" />*@
    <img src="~/onlyImage.jpeg" />

    <h1 style="color:deeppink; text-align:center">
        Happy Valentine's Day Christine!
        <br />
        I wish you a great day and
        I'm still waiting to accept my dinner
        invitation :)
        <br />
        <br />
        Yordan
    </h1>
    <div class="text-center">
        <audio id="myAudio" controls="controls">
            <source src="~/02-madonna-get_together.mp3" type="audio/mpeg" />
        </audio>
    </div>
    <script>
        setTimeout(function f() {
            var vid = document.getElementById("myAudio");
            vid.currentTime = 7;
            vid.play();
        }, 5000);

    </script>
</body>
</html>

