@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Кристин Богданова</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="~/favicon.png">
</head>
<body>
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1028/styles/kendo.common.min.css">
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1028/styles/kendo.metro.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        img {
            max-width: 100%;
            height: auto;
            width: auto\9; /* ie8 */
        }
    </style>

    @*<img src="~/Invitation.jpeg" />*@
    <img src="~/onlyImage.jpeg" />

    <h1 style="color:deeppink; text-align:center">
        Happy Valentine's Day Christine!
        <br />
        I wish you a great day and
        I'm still waiting to accept my dinner
        invitation :)
        <br />
        <br />
        Yordan
    </h1>
    <div class="text-center">
        <audio id="myAudio" controls="controls" style="display:none" >
            <source src="~/02-madonna-get_together.mp3" type="audio/mpeg" />
        </audio>
        <button class="k-button" onclick="playMe()">play music</button>
        <button class="k-button" onclick="stopMe()">pause music</button>
        <button class="k-button" onclick="restartMe()">restart music</button>
        <br />
        <br />
        <br />
        <br />
    </div>
    <script>
        //setTimeout(function f() {
        //    var vid = document.getElementById("myAudio");
        //    vid.currentTime = 7;
           
        //}, 100);
        globalFirstClick = 0;
        function playMe() {
            //debugger;
            var vid = document.getElementById("myAudio");
            if (globalFirstClick == 0) {
                vid.currentTime = 8;
            }
            globalFirstClick++;
            vid.play();
        }
        function stopMe() {
            var vid = document.getElementById("myAudio");
            vid.pause();
        }

        function restartMe() {
            var vid = document.getElementById("myAudio");
            vid.currentTime = 8;
            vid.play();
        }

    </script>
</body>
</html>

